@use "../dependencies" as *;

/*
@font-face {
	font-family: 'Fira Sans Condensed';
	src: local('Fira Sans Condensed Medium'), local('FiraSansCondensed-Medium'),
		hmc_url('/assets/fonts/FiraSansCondensed-Medium.woff2') format('woff2'),
		hmc_url('/assets/fonts/FiraSansCondensed-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
*/
