// Do we need to serve a font? Add the @font-face styles here.
/*
@font-face {
	font-family: 'Muli';
	src: local('Muli Regular'), local('Muli-Regular'),
		url('../fonts/Muli-Regular.woff2') format('woff2'),
		url('../fonts/Muli-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
*/
