@use "../dependencies" as *;

/* Over here, place any elements that do not need to have their own file. */
p {
	margin: 0 0 1em 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

small {
	font-size: 0.75em;
}

sub,
sup {
	font-size: 75%;
	position: relative;
	vertical-align: baseline;
	font-size: 0.75em;
	line-height: 0;
}
sup {
	top: -0.5em;
}
sub {
	bottom: -0.25em;
}

strong,
b {
	font-weight: 700;
}

u,
ins {
	text-decoration: underline;
}

s,
del {
	text-decoration: line-through;
}

abbr[title] {
	border-bottom: 1px dotted;
}

code,
pre {
	font-family: monospace;
	font-size: 0.9em;
	padding: 0.4em 0.6em;
}
code {
	background: rgba(0, 0, 0, 0.075);
	border-radius: 0.25em;
}
pre {
	margin: 0 0 1.5em 0;
}
