/* Template: Default --------------------- */
.entry-sidebar {
	@include bp-min-width('sm') {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.entry-content {
		padding-top: 2em;
		padding-bottom: 2em;
		@include bp-min-width('sm') {
			flex-basis: 0;
			flex-grow: 1;
			width: 100%;
			padding-top: 2em;
			padding-bottom: 2em;
		}
		@include bp-min-width('lg') {
			flex-basis: 0;
			flex-grow: 1;
			width: 100%;
			padding-top: 4em;
			padding-bottom: 4em;
		}
	}
	#secondary {
		position: relative;
		z-index: 1;
		padding-top: 1em;
		padding-bottom: 1em;
		@include bp-min-width('sm') {
			flex: 0 0 100%;
		}
		@include bp-min-width('lg') {
			flex: 0 0 30%;
			max-width: 30%;
			padding-top: 4em;
			padding-left: 4%;
			margin-left: 4%;
		}
	}
}
