/* Container ----------------------------- */
.contain {
	display: block;
	position: relative;
	margin: auto;
	padding: 0 1.5rem;
	width: 100%;

	@include bp-min-width('sm') {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	@include bp-min-width('xxl') {
		padding-left: calc(50% - 30rem);
		padding-right: calc(50% - 30rem);
	}
}

/* Layout -------------------------------- */
.no-margin {
	margin: 0;
}
.no-padding {
	padding: 0;
}
