/* Site Info ----------------------------- */
.site-info {
	padding-top: 1.2em;
	padding-bottom: 6em;
	margin-top: 2em;
	text-align: center;
	@include bp-min-width('lg') {
		display: flex;
		justify-content: space-between;
		align-items: center;
		text-align: left;
		padding-bottom: 1.2em;
		font-size: 0.8rem;
	}
	.copyright {
		margin-bottom: 0.5em;
		@include bp-min-width('lg') {
			margin-bottom: 0;
		}
	}
	.menu {
		list-style: none;
		margin: 0;
		@include bp-min-width('lg') {
			display: flex;
			justify-content: space-between;
			li {
				margin: 0;
				margin-left: 0.5rem;
			}
		}
	}
}
