@use "../dependencies" as *;

/* Buttons ------------------------------- */
.button,
.wp-block-button__link,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: #fff;
	background: #000;
	display: inline-block;
	vertical-align: middle;
	border-radius: 0.25em;
	padding: 0.5em 1em;
	font-size: 1em;
	font-weight: bold;
	line-height: normal;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	transition: all 300ms;

	&:hover,
	&:active,
	&:focus {
		color: #fff;
		background: #333;
		text-decoration: none;
		outline: none;
	}
}

.wp-block-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: .5em;

	.wp-block-button {
		margin-bottom: 0.5em;
	}
}
